.img-background2{
  background-image: url("/img/fondo2.png");
  background-size: cover;
  background-position: top center;
  min-height: 700px;
}
.img-background3{
  background-image: url("/img/fondo3.png");
  background-size: cover;
  background-position: top center;
  min-height: 900px;
}
.img-background4{
  background-image: url("/img/fondo4.png");
  background-size:cover;
  background-position: top center;
  min-height: 400px;
} 

.amarillo-title{
  background-color: #fbcc49;
  border-radius: 100px  !important;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  top: -25px;
}
.bordecarta{
  border-radius: 25px !important;
  background-color: #fff5de;
  box-shadow: 0px 10px 5px #b68b03;
}
.imgcarta{
  width: 45px;
  height: 40px;;
}
.texto-carta{
  font-size: 12px;
}
.texto-solicita{
  font-size: 13px;
}
.gris-javeriana{
  background-color: #ebebeb;
  border-radius: 25px 0px 0px 0px !important;
}
.gris-javeriana2{
  background-color: #ebebeb;
  border-radius: 25px 0px 0px 25px !important;
}
.amarillo-solicita{
  background-color: #ffc305;
  border-radius: 0px 0px 0px 25px !important;
}

.amarillo-solicita2{
  background-color: #ffc305;
  border-radius: 25px !important;
  padding: 10px;
}

.azul-javeriana{
  background-color: #004a87;
  border-radius: 0px 25px 0px 0px !important;
}
.azul-javeriana2{
  background-color: #004a87;
  border-radius: 0px 25px 25px 0px !important;
}
.bordeizquierda{
  border-left: 1px solid white;
}
.amarillo-javeriana{
  background-color: #fbcc49;
  border-radius: 0px 0px 25px 0px !important;
}
.card-javeriana{
  border-radius: 300px !important;
}
.text-plan{
  border: 1px solid white;
  border-radius: 20px;
}
footer{
    background-color: #ebebeb;
    
}
.icon{
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    height: auto !important;
  }
.barras{
    height: 5px;
    width: 100px;
    background-color: #bdbdbd;
}
.barras-amarillas{
  height: 3px;
  width: 100px;
  background-color: #ffd75a;
}
.barras-blancas{
  height: 2px;
  width: 100px;
  background-color: white;
}
.barras-azules{
  height: 2px;
  width: 40px;
  background-color: #004a87;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
.card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(163, 157, 157);
  }
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
.card-accordion{
  border: 1px solid #858180;
  margin-bottom: 25px;
  border-radius: 30px;
  color: #858180;
}
.card-button{
  border-radius: 70px !important;
}
.card-button h6{
  color: #858180;
}
.blue-title{
  color: #004a87;
}

iframe{
  border-radius: 5%;
}
.carousel-card{
  background-color: #f4f2f2;
}